.App {
  text-align: center;
}

a{
  text-decoration: none;
}

a:hover {
  color: rgb(31, 31, 197);
  text-decoration-line: none;
}

.loginIcon {
  max-width: 30px;
}

.loginBar {
  border: 1px solid lightgrey;
  box-shadow: 0em 0em 0.3em 0em rgba(56, 56, 56, 0.2);
}

.loginBar:hover {
  box-shadow: 0em 0em 0.4em 0.1em rgba(44, 44, 44, 0.2);
}